.currencyItem {
  text-align: center;
  padding-bottom: 1rem;

  &__icon {
    color: var(--primaryOrange);
  }

  &__name {
    color: var(--primaryOrange);
    font-weight: bold;
  }
  &__rate {
    font-weight: bold;
    color: var(--white);
    padding-left: 0.5rem;
  }
}